body {
    width: 100vw;
    height: 100vh;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #1B5664, #102A6F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #1B5664, #102A6F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#wrapper {
    padding: 0;
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4,1fr);
}

#btn {
    width: 25vw;
    margin: 10px auto;
}

.bingo-item {
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid grey;
    /* padding: 0.8rem 1rem; */
}

.checked {
    background-color: greenyellow;
}